<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BuildMachineOSBuild</key>
	<string>17G65</string>
	<key>CFBundleDevelopmentRegion</key>
	<string>zh_CN</string>
	<key>CFBundleDisplayName</key>
	<string>正版体育</string>
	<key>CFBundleExecutable</key>
	<string>QQSportsV3</string>
	<key>CFBundleIconFiles</key>
	<array>
		<string>TencentSports/icon.png</string>
	</array>
	<key>CFBundleIcons</key>
	<dict>
		<key>CFBundlePrimaryIcon</key>
		<dict>
			<key>CFBundleIconFiles</key>
			<array>
				<string>AppIcon60x60</string>
			</array>
			<key>CFBundleIconName</key>
			<string>AppIcon</string>
		</dict>
	</dict>
	<key>CFBundleIdentifier</key>
	<string>fwefweff.TencentSports</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleLocalizations</key>
	<array>
		<string>zh_CN</string>
	</array>
	<key>CFBundleName</key>
	<string>QQSportsV3</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>5.9.80</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleSupportedPlatforms</key>
	<array>
		<string>iPhoneOS</string>
	</array>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>weixin</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>wxfc9e941206a0589a</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleURLName</key>
			<string>com.tencent.qqsports</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>qqsports</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>tencentopenapi</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>tencent1101098715</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>qqsportsqqsso</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>qqsportsqqsso</string>
			</array>
		</dict>
	</array>
	<key>CFBundleVersion</key>
	<string>5.9.80.4</string>
	<key>DTAppStoreToolsBuild</key>
	<string>10A247</string>
	<key>DTCompiler</key>
	<string>com.apple.compilers.llvm.clang.1_0</string>
	<key>DTPlatformBuild</key>
	<string>15F79</string>
	<key>DTPlatformName</key>
	<string>iphoneos</string>
	<key>DTPlatformVersion</key>
	<string>11.4</string>
	<key>DTSDKBuild</key>
	<string>15F79</string>
	<key>DTSDKName</key>
	<string>iphoneos11.4</string>
	<key>DTXcode</key>
	<string>0941</string>
	<key>DTXcodeBuild</key>
	<string>9F2000</string>
	<key>LSApplicationQueriesSchemes</key>
	<array>
		<string>cntvcbox</string>
		<string>miguvideo</string>
		<string>mqq</string>
		<string>weixin</string>
		<string>cydia</string>
		<string>wechat</string>
		<string>mqqapi</string>
		<string>weibosdk</string>
		<string>mqqopensdkapiV2</string>
		<string>mqqopensdkapiV4</string>
		<string>mqqbrowser</string>
		<string>mttbrowser</string>
		<string>qqnews</string>
		<string>wtloginmqq</string>
		<string>qqsportsqqsso</string>
		<string>GTfreewifi</string>
		<string>mqqopensdkdataline</string>
		<string>qs107036950469</string>
		<string>qs406322108150</string>
		<string>qs533319592168</string>
		<string>qs354279221911</string>
		<string>qs619068911891</string>
		<string>qs559789572438</string>
		<string>qs637397425521</string>
		<string>qs022204575151</string>
		<string>qs818495811254</string>
		<string>qs816880433840</string>
		<string>qmkege</string>
		<string>qqmusic</string>
		<string>qqnews</string>
		<string>qnreading</string>
		<string>qqstock</string>
		<string>openapp.jdmobile</string>
		<string>tbopen</string>
		<string>ctrip</string>
		<string>vipshop</string>
		<string>qn412b1d1a38ab</string>
		<string>qn412c963f1d97</string>
		<string>qn412d54f5166d</string>
		<string>qn412f8ad532b6</string>
		<string>qn41301a538792</string>
		<string>qn4131723f4d17</string>
		<string>qn4132afce783e</string>
		<string>qn413307c17e56</string>
		<string>qn4134b50915e0</string>
		<string>qn4135d8d5b515</string>
		<string>qn4136854c1659</string>
		<string>qn4137b188cbd5</string>
		<string>qn413829b65b73</string>
		<string>qn41392b764d40</string>
		<string>qn413a13fc406a</string>
		<string>qn413b13232213</string>
		<string>qn413c4e479903</string>
		<string>qn413d5d6ac1ff</string>
		<string>qn413e80ac2897</string>
		<string>qn4140bc8477d8</string>
		<string>qnzmgb120n1yq7</string>
		<string>qnpr8hbhw393f9</string>
		<string>qn24bql60fz2ql</string>
		<string>qngaccv79cv29i</string>
		<string>qnse5nky9g27fa</string>
		<string>qn2at72s9jb3xk</string>
		<string>qn24mcdtm3g085</string>
		<string>qn517g7bwz9xtx</string>
		<string>qnuwb7749xzhg5</string>
		<string>qn1g85a77c71gz</string>
		<string>qnay7gx9addl98</string>
		<string>qnjwi21g11l09r</string>
		<string>qn2353n0a0i979</string>
		<string>qny0evu8dzu3vz</string>
		<string>qn78tpl6s88fq9</string>
		<string>qnzi917el2y93c</string>
		<string>qnj147i59681ip</string>
		<string>qnw1nk6u67y312</string>
		<string>qn98r6vh9sl0u6</string>
		<string>qnb90q85h36kum</string>
		<string>dianping</string>
		<string>suning</string>
		<string>mogujie</string>
	</array>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>MinimumOSVersion</key>
	<string>8.0</string>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
	</dict>
	<key>NSCalendarsUsageDescription</key>
	<string>腾讯体育需要您的同意，才能访问日历</string>
	<key>NSCameraUsageDescription</key>
	<string>允许访问后可上传或保存图片</string>
	<key>NSMicrophoneUsageDescription</key>
	<string>允许访问后可录制声音</string>
	<key>NSPhotoLibraryAddUsageDescription</key>
	<string>允许访问后可上传或保存图片</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>允许访问后可上传或保存图片</string>
	<key>UIAppFonts</key>
	<array>
		<string>FUTURASTD-CONDENSED.OTF</string>
		<string>FUTURASTD-CONDENSEDLIGHT.OTF</string>
		<string>FuturaStd-Heavy.otf</string>
	</array>
	<key>UIDeviceFamily</key>
	<array>
		<integer>1</integer>
	</array>
	<key>UILaunchImages</key>
	<array>
		<dict>
			<key>UILaunchImageMinimumOSVersion</key>
			<string>11.0</string>
			<key>UILaunchImageName</key>
			<string>LaunchImage-1100-Portrait-2436h</string>
			<key>UILaunchImageOrientation</key>
			<string>Portrait</string>
			<key>UILaunchImageSize</key>
			<string>{375, 812}</string>
		</dict>
		<dict>
			<key>UILaunchImageMinimumOSVersion</key>
			<string>8.0</string>
			<key>UILaunchImageName</key>
			<string>LaunchImage-800-Portrait-736h</string>
			<key>UILaunchImageOrientation</key>
			<string>Portrait</string>
			<key>UILaunchImageSize</key>
			<string>{414, 736}</string>
		</dict>
		<dict>
			<key>UILaunchImageMinimumOSVersion</key>
			<string>8.0</string>
			<key>UILaunchImageName</key>
			<string>LaunchImage-800-667h</string>
			<key>UILaunchImageOrientation</key>
			<string>Portrait</string>
			<key>UILaunchImageSize</key>
			<string>{375, 667}</string>
		</dict>
		<dict>
			<key>UILaunchImageMinimumOSVersion</key>
			<string>7.0</string>
			<key>UILaunchImageName</key>
			<string>LaunchImage-700</string>
			<key>UILaunchImageOrientation</key>
			<string>Portrait</string>
			<key>UILaunchImageSize</key>
			<string>{320, 480}</string>
		</dict>
		<dict>
			<key>UILaunchImageMinimumOSVersion</key>
			<string>7.0</string>
			<key>UILaunchImageName</key>
			<string>LaunchImage-700-568h</string>
			<key>UILaunchImageOrientation</key>
			<string>Portrait</string>
			<key>UILaunchImageSize</key>
			<string>{320, 568}</string>
		</dict>
	</array>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
	</array>
</dict>
</plist>
